


body {
    
    font-family: Arial, Helvetica, sans-serif;
  }

.header {
    padding: 60px;
    text-align: center;
    background-color: limegreen;
    background-image: url();
    color: white;
}