


body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

.header {
    padding: 60px;
    text-align: center;
    background-image: url();
    color: white;
    background-image: url("78a93be5038d9521df0be77b95c4b9a8.png");
    background-color: #ff0000;
}



.ylapalkkki {
    overflow: hidden; /* Hide overflow */
    background-color: #57575B; /* Dark background color */
  
  }
  

  .ylapalkkki a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    float: left;
    display: block;
    color: #D9D8E4;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
  }

  /* Vaihtaa väriä kun hiiri on linkin päällä */
  .ylapalkkki a:hover {
    background-color: #D9D8E4;
    color: #57575B;
  }

  .sivu {
      /* Sivun tausta */
      background-color: #B5B5B5;
      box-shadow: 2px 2px 2px #57575B;
      display: flex;
      
      /* Teksti */
      margin: 40px 25px;
      text-align: center;
  }

  .paapalkki {
    flex: 90%;
    padding: 10px;
  }

  .sivupalkki{
    flex: 10%;
    margin: 12px;
    padding: 15px;
    background-color: #D9D8E4;
    box-shadow: 2px 2px 2px #57575B;
  }

  .animet{
    float: left;
    width: 33%;
  }

  .pelit {
    float: left;
    width: 50%;
  }

  .animet img {
    width: 87%;
  }
  
  .pelit img  {
    width: 95%;
  }

  .animet p, .pelit {
    font-family: 'Open Sans Condensed', sans-serif;
    height: 30px;
    font-weight: 600;
    
  }

  .anime:after, .pelit:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
