body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #40425a;
  }


.grid-container {
  display: grid;
grid-template-columns: repeat(100, [col] 1%);
grid-template-rows: repeat(100, [row] auto  );
font-size: 10px;
text-align: center; 
}

/*Header*/
.header {
    border-radius: 0 0 100px 0;
    background-image: url('../images/header.jpg');
    background-position: center;
    background-size: 101%;
    border: 2px #27283a;
    border-style: none solid solid none;
    margin-right: 50px;
    color: white;
    text-shadow: 4px 4px 1px #000000;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0px 0 0px 50px;
    font-size: 100px;
    font-weight: bolder;
/*Grid stuff*/
    grid-column: 1 / 101;
    grid-row: 1;
}


/*Linkit*/
.links {
    border: 2px #27283a;
    border-style: none none solid none;
    overflow: hidden;
    background-color: #40425a;
/*Grid stuff*/
    grid-column: 1 / 101;
    grid-row: 2;
}

.links a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 20px;
    float: left;
    display: block;
    color: #D9D8E4;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}

/* Vaihtaa väriä kun hiiri on linkin päällä */
.links a:hover {
    background-color: #D9D8E4;
    color: #40425a;
}


/*
Pääpalkki
*/
.mainbar {
    border: 2px #27283a;
    border-style: none none none solid;
    background-color: #6B6E96;
/*Grid stuff*/
    grid-column: 31 / 101;
    grid-row: 3 / span 7;
}

.teksti {
    font-size: 1.4em;
    line-height: 1.2em;
    padding: 0 60px;
    text-align: left;

}

.txt1 {
/*Grid stuff*/
    grid-column: 31 / 101;
    grid-row: 3;
}

.speksit {
    background-color: rgba(217, 216, 228, 0.5);
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1.2em;
    font-size: 2.0em;
    text-align: left;
    padding: 10px 20px 10px 40px;
    margin: 20px 40px;
/*Grid stuff*/
    grid-column: 31 / span 28;
    grid-row: 4 / span 2;
}

.setupkuva {
    margin-top: 20px;
    margin-right: 20PX;
    text-align: left;
/*Grid stuff*/
    grid-column: 59 / 101;
    grid-row: 4 / span 2;
}

.setupkuva img {
    width: 80%;
    border: 2px #27283a;
}

.setupkuva p {
    padding-left: 15px;
    line-height: 1px;
    font-size: 15px;
    font-weight: bold;
}

.txt2 {
    padding-top: 20px;
/*Grid stuff*/
    grid-column: 31 / 101;
    grid-row: 6 / span 3;
}


/*
Sivupalkki
*/
.sidebar {
    background-color: #D9D8E4;
/*Grid stuff*/
    grid-column: 1 / span 30;
    grid-row: 3 / span 7;
}

.anime{
/*Grid stuff*/
    grid-column: 1 / span 30;
    grid-row: 3;
}

.anime img, .games img {
    width: 90%;
    max-width: 400px;
    margin: 30px 0 0 0;
}

.ac {
    max-height: 320px;
}

.ac img {
    width: 90%;
}

.gc img {
    width: 93%;
}

.ac p, .gc p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.gc a, .ac a {
    text-decoration: none;
    color: black;
}

.ac1 {
/*Grid stuff*/
    grid-column: 1 / span 10;
    grid-row: 4;
}

.ac2 {
/*Grid stuff*/
    grid-column: 11 / span 10;
    grid-row: 4;
}

.ac3 {
/*Grid stuff*/
    grid-column: 21 / span 10;
    grid-row: 4;
}

.ac4 {
/*Grid stuff*/
    grid-column: 1 / span 10;
    grid-row: 5;
}

.ac5 {
/*Grid stuff*/
    grid-column: 11 / span 10;
    grid-row: 5;
}

.ac6 {
/*Grid stuff*/
    grid-column: 21 / span 10;
    grid-row: 5;
}

.games {
/*Grid stuff*/
    grid-column: 1 / span 30;
    grid-row: 6;
}

.gc1 {
/*Grid stuff*/
    grid-column: 1 / span 15;
    grid-row: 7;
}

.gc2 {
/*Grid stuff*/
    grid-column: 16 / span 15;
    grid-row: 7;
}

.gc3 {
/*Grid stuff*/
    grid-column: 1 / span 15;
    grid-row: 8;
}

.gc4 {
/*Grid stuff*/
    grid-column: 16 / span 15;
    grid-row: 8;
}

.gc5 {
/*Grid stuff*/
    grid-column: 1 / span 15;
    grid-row: 9;
}

.gc6 {
/*Grid stuff*/
    grid-column: 16 / span 15;
    grid-row: 9;
}


/*
Footer
*/
.footer {
    background-color: #40425a;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 2px #27283a;
    border-style: solid none none none;
    /*Grid stuff*/
        grid-column: 1 / 101;
        grid-row: 10;
        max-height: 69px;
    }

    .mainbar2 {
        border: 2px #27283a;
        border-style: none none none solid;
        background-color: #6B6E96;
    /*Grid stuff*/
        grid-column: 32 / 101;
        grid-row: 3 / span 7;
    }
    
    .sidebar2 {
    background-color: #D9D8E4;
    /*Grid stuff*/
        grid-column: 1 / span 32;
        grid-row: 3 / span 7;
    }
    



/*
projektit
*/

.projekti-info, .linkki-info{
        /*Grid stuff*/
        grid-column: 1 / span 30;
        grid-row: 3;
}

.projekti-info h1, .linkki-info h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 5px;
    font-size: 10em;
    padding: 0 20px 40px 20px;
}

.projekti-info p, .linkki-info p {   
    line-height: 1.2em;
    font-size: 4em;
    padding: 0 20px 0 20px;
}

.projut{
    border-width: 0px 1px;
    border-color: hsla(237, 20%, 19%);
    border-style: solid;
}

.projut img{
    padding-top: 20px;
    max-width: 96%;
}

.projut h1{
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 5px;
    font-size: 4em;
    padding: 0 20px 0 20px;
}

.projut p{
    font-size: 2em;
    padding: 0 20px 0 20px;
}

.projut a{
    overflow: hidden;
    background-color: #40425a;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 20px;
    float: center;
    display: block;
    color: #D9D8E4;
    text-align: center;
    padding: 15px;
    margin: 20px 0;
    text-decoration: none;
    border-width: 2px 0;
    border-color: #27283a;
    border-style: solid;
}

.noshow{
    visibility: hidden;
}

.right {
    border-width: 0 2px 0 1px;
    border-color: #27283a;
    border-style: solid;
}

/* Vaihtaa väriä kun hiiri on linkin päällä */
.projut a:hover {
    background-color: #D9D8E4;
    color: #40425a;
}

.mg1 {
        /*Grid stuff*/
        grid-column: 32 / span 23;
        grid-row: 3;
}

.mg2 {
        /*Grid stuff*/
        grid-column: 55 / span 23;
        grid-row: 3;
}

.mg3 {
    /*Grid stuff*/
    grid-column: 78 / span 23;
    grid-row: 3;
}

.somet {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 50px 25px 50px 25px;
    font-size: 60px;
    line-height: 0;
    fill: white;
    color: white;
}

.somet a {
    text-decoration: none;
    color: white;
}

.discord:hover {
    color: #7289da;
    fill: #7289da;
}

.youtube:hover, .youtube a:hover {
    color: #ff0000;
    fill: #ff0000;
}

.github:hover, .github a:hover{
    color: #333;
    fill: #333;
}

i {
    font-style: normal;
}