/* Index */

.idxmainbar {
    width: 70%;
    padding: 10px 20px 0 ;
    text-align: left;
  }

  .idxsidebar{
    width: 30%;
    margin: 12px;
    padding: 15px;
    background-color: #D9D8E4;
    box-shadow: 2px 2px 2px #57575B;
  }

.idxanime {
    width: 10;
}

  .idxanimecover {
    float: left;
    width: 13%;
  }

  .idxanimecovers img {
    width: 87%;
  }

  .pelit  {
    float: left;
    width: 50%;
  }

/*Clears style*/
  .anime:after, .pelit:after, .speksit:after, .kuvat:after{
    content: "";
    display: table;
    clear: both;
  }
