

  .speksit {
    float: left;
    width: 33%;
    background-color: #D9D8E4;
    box-shadow: 2px 2px 2px #57575B;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0 10px 20px 20px;
    margin: 0 10px 10px 20px;
    line-height: 0.6em;
  }

  .kuvat {
    float: right;
    width: 57%;
    max-width: 2000px;
  }


  
  .pelit img  {
    width: 90%;
  }

  .animet p, .pelit {
    font-family: 'Open Sans Condensed', sans-serif;
    height: 30px;
    font-weight: 600;
    
  }



  .animu {
    padding-top: 100px;
  }

/* Shared */


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


.shrheader {
  padding: 60px;
  text-align: center;
  background-image: url();
  color: white;
  background-image: url("/images/78a93be5038d9521df0be77b95c4b9a8.png");
}


/*Links*/
.shrlinks {
  overflow: hidden;
  background-color: #57575B;

}
.shrlinks a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  float: left;
  display: block;
  color: #D9D8E4;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}
/* Vaihtaa väriä kun hiiri on linkin päällä */
.shrlinks a:hover {
  background-color: #D9D8E4;
  color: #57575B;
}


.shrpage {
  /* Sivun tausta */
  background-color: #B5B5B5;
  box-shadow: 2px 2px 2px #57575B;
  display: flex;
  
  /* Teksti */
  margin: 40px 25px;
  text-align: center;
}